# PRACTICE PROBLEMS ABDULLAH WASIM 19B-007-SE

In [1]:
# 3.1

fahrenheit = eval(input('Enter the temperature in degree Fahrenheit: '))
celsius = (fahrenheit - 32) * 5 / 9
print('The temperature in degree Celsius is ', celsius)

Enter the temperature in degree Fahrenheit: 45
The temperature in degree Celsius is  7.222222222222222

In [2]:
# 3.2

age = 63
name = 'Williams'
hits = 10
sheild = 1
north = True
south = False
east = False
west = True

if age > 62:
    print('You can get yout pension benefits! ')
    
if name in ['Musial', 'Aaron', 'Williams', 'Gehrig', 'Ruth']:
    print('One of the top 5 baseball players, ever! ')
    
if hits > 10 and sheild == 0:
    print('You\'re dead...')
    
if north or south or east or west:
    print('I can escape. ')

You can get yout pension benefits!
One of the top 5 baseball players, ever!
I can escape.

In [6]:
# 3.3

year = 4
ticket = ['0111','0222','0223']
lottery = ['0111','0222','0223']

if year % 4 == 0:
    print('Could be a leap year. ')
else:
    print('Definitelt not a leap year. ')
    
if  ticket == lottery:
    print('You won! ')
else: 
    print('Better Luck necxt time...' )

Could be a leap year.
You won!

In [4]:
# 3.4 

users = ['joe', 'sure', 'hani', 'sophie']
id = input('Login: ')

if id in users:
    print('You are in! ')
else:
    print('User unknown. ')
    
print('Done. ')

Login: Ahmed
User unknown.
Done.

In [9]:
# 3.5


wordlist = eval(input('Enter word list: '))
for word in wordlist:
    if len(word) == 4:
        print(word)

Enter word list: ['alert','message','list','word','name','stop','uncle']
list
word
name
stop

In [10]:
# 3.6

print("Integer from 0 to 9")
for i in range(10):
    print(i)
print("Integer from 0 to 1")  
for i in range(2):
    print(i)

Integer from 0 to 9
0
1
2
3
4
5
6
7
8
9
Integer from 0 to 1
0
1

In [11]:
# 3.7 (a)
print("Integer from 3 up to and including 12: ")
for i in range(3, 13):
    print(i)

Integer from 3 up to and including 12:
3
4
5
6
7
8
9
10
11
12

In [12]:
# 3.7 (b)

print("Integer from 0 up to but not including 9, but with a step of 2 instead of the default 1")

for i in range(0, 10, 2):
    print(i)

Integer from 0 up to but not including 9, but with a step of 2 instead of the default 1
0
2
4
6
8

In [13]:
# 3.7 (c)

print("Integer from 0 up to but not including 24 with a step of 3:")

for i in range(0, 24, 3):
    print(i)

Integer from 0 up to but not including 24 with a step of 3:
0
3
6
9
12
15
18
21

In [14]:
# 3.7 (d)

print("Integer from 3 up to but not including 12 with a step of 5:")

for i in range(3, 12, 5):
    print(i)

Integer from 3 up to but not including 12 with a step of 5:
3
8

In [16]:
# 3.8

import math
def perimeter(radius):
    return 2 * math.pi * radius

print(perimeter(int(input("Input radius: "))))

Input radius: 1
6.283185307179586

In [31]:
# 3.9

def average(x, y):
    'returns average of x and y'
    return(x + y) / 2

num1= int(input("Input number 1: "))
num2= int(input("Input number 2: "))

print("average is "+ str(average(num1,num2)))

Input number 1: 1
Input number 2: 2
average is 1.5

In [21]:
# 3.10

def noVowel(s):
    'return True if string s contains no vowel, False otherwise'
    for c in s:
        if c in 'aeiouAEIOU':
            return False
        return True
    
print(noVowel('octopus'))

False

In [25]:
# 3.11

def allEven(numList):
    'return True if all integers in numList are even, False otherwise'
    for num in numList:
        if num % 2 != 0:
            return False
    return True

numList = [2,4,6,8,4]
anotherList = [1,2,5,6,8]

print(str(numList) + "contains even number: "+ str(allEven(numList)))
print(str(anotherList) + "contains even number: "+ str(allEven(anotherList)))

[2, 4, 6, 8, 4]contains even number: True
[1, 2, 5, 6, 8]contains even number: False

In [26]:
# 3.12

def negatives(lst):
    'prints the negative numbers in list lst'
    for i in lst:
        if i < 0:
            print(i)
            
negatives([2,-1,3,-5,2,2])

-1
-5

In [32]:
# 3.13

help(average)
help(negatives)

Help on function average in module __main__:

average(x, y)
    returns average of x and y

Help on function negatives in module __main__:

negatives(lst)
    prints th negative numbers in list lst

In [ ]:
# 3.14

In [33]:
# 3.15

team = ['Ahmed','Ali','Sohaib','Ayan']

team[0], team[-1] = team[-1], team[0]

print(team)

['Ayan', 'Ali', 'Sohaib', 'Ahmed']

In [35]:
# 3.16

ingredients =['flour','sugar','butter','apples']

def swapFL(lst):
    lst[0], lst[-1] = lst[-1], lst[0]
    
swapFL(ingredients)
print(ingredients)

['apples', 'sugar', 'butter', 'flour']

# Chapter # 3 Assignment

In [1]:
#3.18
a=3
b=4
c=5
if a<b:
    print("OK")
if c<b:
    print("OK")
else:
    print("C is not less than b")
if a+b==c:
    print("OK")
else:
    print("the sum of a and b is not equal to c")
if a**2+b**2==c**2:
    print("OK")
else:
    print("NOT OK")

OK
C is not less than b
the sum of a and b is not equal to c
OK

In [2]:
#3.20
lst = ['january','february','march']

for january in lst:
    print(january[0:3])

jan
feb
mar

In [4]:
#3.21
lst = [2, 3, 4, 5, 6, 7, 8, 9] 
  
for num in lst: 
    if num % 2 == 0:
        print(num, end = " ")

2 4 6 8

In [5]:
#3.22
lst = [2, 3, 4, 5, 6, 7, 8, 9]

for num in lst:
    if (num * num) % 8 == 0:
        print(num)

4
8

In [6]:
#3.23

# a
for i in range(2):
    print(i, end = " ")
    
# b
for i in range(1):
    print(i, end = " ")
    
# c
for i in range(3,7):
    print(i, end = " ")
    
# d
for i in range(1,2):
    print(i, end = " ")
    
# e
for i in range(0,4,3):
    print(i, end = " ")
    
# f
for i in range(5,22,4):
    print(i, end = " ")

0 1 0 3 4 5 6 1 0 3 5 9 13 17 21

In [7]:
#3.24
words = eval(input(" enter the list of words: "))
for word in words:
    if word!='secret':
        print(word)

 enter the list of words: ['Mango','secret','Sherry','Abdullah','secret']
Mango
Sherry
Abdullah

In [9]:
#3.25
names = eval(input("enter list: "))
names_1 = names[0]
names_2 = names[-1]
print(names_1)
print(names_2)

enter list: ['pineapple', 'abdullah', 'Sherry', 'strawberry', 'mango']
pineapple
mango

In [10]:
#3.26
numbers = eval(input("enter a list"))
num_1 = numbers[0]
num_2 = numbers[3]
print("The first list element is", num_1)
print("The last list element is", num_2)

enter a list[3, 5, 7, 9]
The first list element is 3
The last list element is 9

In [11]:
#3.27
n = int(input("Enter n:"))
for i in range(4):
    print(n*(i+1))

Enter n:2
2
4
6
8

In [12]:
#3.28
integer = eval(input("enter n: "))
for i in range(0,n):
    if i!=n:
        s = i**2
        print(s)

enter n: 3
0
1

In [15]:
#3.30
num_1 = eval(input("enter the first number: "))
num_2 = eval(input("enter the second number: "))
num_3 = eval(input("enter the third number: "))
num_4 = eval(input("enter the fourth number: "))

if (num_1 + num_2 + num_3)/4 == num_4:
    print("equal")

enter the first number: 4.5
enter the second number: 3
enter the third number: 4.5
enter the fourth number: 3
equal

In [16]:
#3.31
radius = 8
a = 0
b = 0
x = eval(input("enter the x-cordinate: "))
y = eval(input("enter the y-cordinate: "))
point = (x-a)**2+(y-b)**2
if point<radius:
    print("it is in")
else:
    print("it is not in")

enter the x-cordinate: 3
enter the y-cordinate: 4
it is not in

In [17]:
#3.32
number = input("enter n: ")
number.split()
for i in number:
    print(i)

enter n: 12334
1
2
3
3
4

In [19]:
#3.33
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str
  
s = "abdullah"
  
print ("reversed_string : ",end="") 
print (s) 
print (reverse(s))

reversed_string : abdullah
halludba

In [20]:
#3.34
def pay(hours):
    if hours<40:
        a=(hours/1.5)*500
        print("You have worked less than 40 hours")
        return a
    else :
        a=hours*500
        print("you have worked hard")
        return a
    
h=int(input("how many hours you have worked"))
pay(h)

how many hours you have worked6
You have worked less than 40 hours

2000.0

In [21]:
#3.35
def prob(n):
    res=2**-n
    return res
n=int(input("Enter value of n"))
prob(n)

Enter value of n9

0.001953125

In [22]:
#3.36
def rev(a):
    res=a[::-1]
    return res
a=str(input("Enter enter string"))
rev(a)

Enter enter stringAbdullah

'halludbA'

In [24]:
#3.37
def points(x1,y1,x2,y2):
    res=(y2-y1)/(x2-x1)
    if res==0:
        print("Line is vertical")
    else:
        return res
points(1,1,0,1)
from math import sqrt
def distance(x1,y1,x2,y2):
    a=(x2-x1)*(y2-y1)
    b=sqrt(a)
    print("distance is", b)
distance(1,2,4,5)

Line is vertical
distance is 3.0

In [26]:
#3.41
a=input("Enter your name: ")
b=a[::-1]
print(b)

Enter your name: Abdullah Wasim
misaW halludbA

In [27]:
#3.44
def main():
    time = eval(input("What is the time (in seconds) elapsed between the flash and thunder? "))
    sound = 1100*time
    ans = sound/5280
    print("The distance to a lightening strike is ", ans , "miles")
main()

What is the time (in seconds) elapsed between the flash and thunder? 6
The distance to a lightening strike is  1.25 miles